{% extends 'blog/base.html' %} {% load static %} {% block content %}

<div class="col-sm-10">
  <h3 class="text-white my-5">About Page</h3>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
    provident, odit ullam consequuntur quasi dolorem nesciunt in. Cum, debitis
    nemo.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iure vel
    culpa veniam quia facere, voluptate ullam labore mollitia ad rem enim
    molestias provident rerum inventore consequuntur saepe quae voluptatum.
  </p>
</div>

{% endblock content %}
